---
import Layout from '/src/layouts/Layout.astro';
import ContentSection from '/src/components/ContentSection.astro';
---

<Layout title="Shop" subtitle="Disc golf equipment and MDGC merchandise">

	<ContentSection>
		<p class="text-xl text-gray-600 mb-8 text-center">
			Shop coming soon - disc golf equipment and club merchandise
		</p>
	</ContentSection>
</Layout>