---
import Layout from './Layout.astro';
import ContentSection from '../components/ContentSection.astro';

export interface Props {
  title: string;
  subtitle?: string;
}

const { title, subtitle } = Astro.props;
---

<Layout title={title} subtitle={subtitle}>
  <ContentSection>
    <div class="prose prose-lg mx-auto">
      <slot />
    </div>
  </ContentSection>
</Layout>