---
import Layout from './Layout.astro';
import ContentSection from '../components/ContentSection.astro';

const { frontmatter } = Astro.props;
const { title, subtitle } = frontmatter;
---

<Layout title={title} subtitle={subtitle}>
	<ContentSection>
		<div class="prose max-w-none">
			<slot />
		</div>
	</ContentSection>
</Layout>
