---
import Layout from '~/layouts/Layout.astro';
import BoardMember from '~/components/BoardMember.astro';
import Prose from '~/components/Prose.astro';
import Panel from '~/components/Panel.astro';
---

<Layout title="MDGC Board" subtitle="Meet our volunteer committee members">

	<Prose>
		<h2>Our Volunteer Committee</h2>
		<p>
			The Melbourne Disc Golf Club is managed by a dedicated voluntary committee of passionate
			disc golf enthusiasts who work to grow and support our community.
		</p>
	</Prose>

	<div class="space-y-8">
					<BoardMember name="Mike Van der Linden" title="President">
						<p class="mb-3">
							I'm married and have 2 teenage daughters. An engineer by training, I've spent most of my working life in corporate and operational management roles around the world. During Covid, I took a package and now have the time to get involved in all the things I never had time for in the past. I'm into volleyball, energy efficiency, gardening and currently house renovations … & lots of DG.
						</p>
						<p class="mb-3">
							I first played disc golf in Houston with my family. Unfortunately, they weren't keen and have eye rolled at the thought of DG ever since. After returning to Australia during 2020, I discovered DG at Dinner Plain and then that Bald Hill was within 5kms of home. After catching the DG bug, I joined the MDGC Board in early 2022 and have predominantly focused on Social Day organisation, Course Development and Strategic Planning aspects.
						</p>
						<p>
							I look forward to playing a part in the continued growth of disc golf in Melbourne
						</p>
					</BoardMember>

					<BoardMember name="Gail P Lynch" title="Secretary">
						<p class="mb-3">
							Home is Warn Marin (Western Port Bay) side of the Mornington Peninsula on the lands of the BoonWurrung people. Have a tiny house with a large indigenous garden and 3 rescue Whippets, a beautiful 6km beach where we walk, swim and play.
						</p>
						<p class="mb-3">
							Now retired, I moved from business management and operation in the 80's to work in community and government organisations, predominantly community services management and development, across aged care, disability, community, volunteers etc. Best job = driving a forklift.
						</p>
						<p class="mb-3">
							I was 'reborn' in 1976 when I first saw a disc (frisbee) floating through the air, was immediately hooked, and flying disc sports has been a major part of my life since. Travelling, organising, competing, friendships, fun, developing and growing, as a person, as a sport, as a community. Was a founding member of Australian Frisbee Association (now AFDA), represented Australia at 3 World Championships and was (way back) 3 x Australian Women's Champ.
						</p>
						<p>
							Passions = inclusion, diversity, integrity, community.
						</p>
					</BoardMember>

					<BoardMember name="Thomas Mason" title="Treasurer">
						<p class="mb-3">
							Whilst studying, I was approached by a friend working for QBE Insurance who put my name forward as they needed people with Accounting backgrounds for assessing builder balance sheet risk. My time at QBE gave me my introduction to risk analysis which ultimately became an interest that has now run for over a decade.
						</p>
						<p class="mb-3">
							I have several hobbies outside of work including basketball, music and golf. I was introduced to Disc Golf via YouTube just prior to COVID. My passion for golf far exceeded my ability and I enjoyed several content creators who played a high level before stumbling over a former Ultimate player and Frisbee trick shot artist who had a golfing channel.
						</p>
						<p>
							His transition into Disc Golf fascinated me as I had no previous knowledge of the sport and COVID created a situation whereby I went down a rabbit hole of content. I ultimately bought my first 3 discs (Undertaker, Challenger and Zone), joined MDGC and got to compete in my first social day in March 2021. My passion for the sport has now surpassed most of my other hobbies given its ease of access, enjoyment and the community it has created.
						</p>
					</BoardMember>

					<BoardMember name="Simon Farrar" title="Director of Risk Management">
						<p class="mb-3">
							I'm Simon, married with two teenage sons and living in Caulfield. I've always loved the outdoors and playing and watching sport, with golf (the ball-variety) and volleyball my main pursuits in earlier years, more recently distance running, including five marathons. Plus, I love my Richmond Tigers!
						</p>
						<p>
							I discovered the Disc Golf courses at Dinner Plain and Bald Hill (my closest) in early 2020, both by chance. Loaner discs and then an overnight delivery of a Starter Disc Pack from Amazon had me on my way and I've never looked back. I love describing the sport to newbies, bystanders and friends who wonder what it's all about. Having worked for many years in risk management and occupational health and safety I'm keen to bring some of this experience to the MDGC as our club continues its strong growth.
						</p>
					</BoardMember>

					<BoardMember name="Paul Arden" title="Board Advisor">
						<p class="mb-3">
							I am serving as Advisor to the Melbourne Disc Golf Club board and currently also serve as Director of Competitions for Australian Disc Golf (ADG) and Country Coordinator for the PDGA. I am a Computer Graphics Software Engineer by trade.
						</p>
						<p>
							I was a founding member of both ADG and MDGC and have been playing Disc Golf since around 2004. I've been fortunate to be able to play extensively in Europe, Japan, and the USA (and of course Australia), including participating in five PDGA Worlds events. Disc Golf was popular during the 80s in Australia however by the time I discovered the sport it's footprint here had shrunk significantly with only a handful of players. This meant that back then if you wanted anything to happen you had to organise it yourself. As a result, I spent many of my starting years in Disc Golf running tournaments and helping develop some of the organisational structures that are still in place today.
						</p>
					</BoardMember>
	</div>

	<Panel class="bg-gray-50">
		<Prose>
			<h2>About Our Committee</h2>
			<p>
				Since our founding in 2008, MDGC has been managed by passionate volunteers who donate their
				time and expertise to support the growth of disc golf in Melbourne. As a non-profit organisation,
				we rely on dedicated community members to guide our club's direction.
			</p>
			<p>
				Interested in getting involved or learning more about our committee? We're always looking for
				enthusiastic members to help with various club activities and initiatives.
			</p>
			<div class="space-x-4 text-center">
				<a href="/club/contact" class="bg-green-600 text-white px-8 py-3 rounded-lg font-semibold hover:bg-green-700 transition-colors">
					Contact Us
				</a>
				<a href="/club/membership" class="bg-white text-green-600 px-8 py-3 rounded-lg font-semibold border border-green-600 hover:bg-green-50 transition-colors">
					Join MDGC
				</a>
			</div>
		</Prose>
	</Panel>
</Layout>