---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Layout.astro';
import Text from '@components/Text.astro';

const allNews = await getCollection('news');

const today = new Date();
today.setHours(0, 0, 0, 0);

const activeNews = allNews
	.filter(item => !item.data.expiryDate || item.data.expiryDate >= today)
	.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<Layout title="News" cmsPath="/collections/news">
	<Text>
		{activeNews.length === 0 ? (
			<p class="text-gray-600">No news at the moment.</p>
		) : (
			<div class="space-y-8">
				{activeNews.map(async (item) => {
					const { Content } = await item.render();
					return (
						<article>
							<div class="text-sm text-gray-500 mt-8 mb-0">
									{item.data.date.toLocaleDateString('en-AU', {year:'numeric', month:'short', day:'numeric'})}
							</div>
							<h2 class="mt-1">{item.data.title}</h2>
							<Content />
						</article>
					);
				})}
			</div>
		)}
	</Text>
</Layout>
