---
import Panel from './Panel.astro';
import Prose from './Prose.astro';

export interface Props {
	name: string;
	title: string;
}

const { name, title } = Astro.props;
---

<Panel>
	<Prose>
		<h3>{name} - {title}</h3>
		<slot />
	</Prose>
</Panel>
