---
import { Icon } from 'astro-icon/components';
import Panel from './Panel.astro';

interface Props {
	href: string;
	title: string;
	description: string;
	icon: string;
}

const { href, title, description, icon } = Astro.props;
---

<a href={href} class="link-panel">
	<Panel class="link-panel-inner flex flex-col items-center text-center bg-gray-50">
		<div class="link-panel-icon">
			<Icon name={icon} size={96} />
		</div>
		<h3>{title}</h3>
		<p>{description}</p>
	</Panel>
</a>

<style>
	.link-panel {
		text-decoration: none;
		color: inherit;
		display: block;
		transition: all 0.2s;
		cursor: pointer;
	}

	.link-panel:hover {
		transform: scale(1.05);
	}

	.link-panel:hover .link-panel-icon {
		color: var(--color-mdgc-blue-dark);
	}

	.link-panel-icon {
		margin-bottom: 1rem;
		color: var(--color-mdgc-blue);
		transition: all 0.2s;
	}

	.link-panel h3 {
		font-size: 1.5rem;
		font-weight: 700;
		margin-bottom: 0.5rem;
		color: #1f2937;
	}

	.link-panel p {
		color: #6b7280;
		font-size: 0.875rem;
	}
</style>
