---
export interface Props {
	class?: string;
}

const { class: className = "" } = Astro.props;
---

<div class={`rounded border border-gray-300 my-8 ${className}`}>
	<div class="m-8">
	   <slot />
	</div>
</div>
