---
export interface Props {
  quote?: string;
}

const { quote } = Astro.props;
---

<div class="bg-blue-50 rounded-lg p-8 mb-8">
  {quote && (
    <p class="text-mdgc-blue text-lg mb-4">
      "{quote}"
    </p>
  )}
  <div class="text-gray-600">
    <slot />
  </div>
</div>