---
export interface Props {
  title: string;
  subtitle?: string;
}

const { title, subtitle } = Astro.props;
---

<section class="bg-gradient-to-b from-mdgc-blue to-mdgc-blue-dark text-white px-4 py-8 md:pt-4">
  <div class="max-w-7xl mx-auto md:pl-40">
    <h1 class="text-4xl font-bold">{title}</h1>
    {subtitle && <p class="text-xl mt-4">{subtitle}</p>}
  </div>
</section>