---
import Layout from './Layout.astro';

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} subtitle={frontmatter.subtitle}>
	<div class="py-8 space-y-8 max-w-4xl mx-auto">
		<slot />
	</div>
</Layout>
