---
import { getCollection } from 'astro:content';
import Layout from '~/layouts/Layout.astro';
import CourseCard from '~/components/CourseCard.astro';
import CourseMap from '~/components/CourseMap.astro';
import Grid from '~/components/Grid.astro';
import LinkPanel from '~/components/LinkPanel.astro';
import Text from '~/components/Text.astro';

const courses = await getCollection('courses');
courses.sort((a, b) => a.data.title.localeCompare(b.data.title));
---

<Layout title="Courses" subtitle="permanent disc golf courses around Melbourne">
	<Grid cols={3}>
		{courses.map((course) => (
			<CourseCard
				name={course.data.title}
				href={`/courses/${course.slug}`}
				location={course.data.suburb}
				image={course.data.thumbnail || course.data.mainImage}
			/>
		))}
	</Grid>

	<div class="my-8">
		<CourseMap />
	</div>

	<Text class="text-center">
		<h2>Further afield</h2>
	</Text>

	<Grid cols={2}>
		<LinkPanel
			href="https://flyspot.com.au"
			title="FlySpot"
			description="Disc golf courses around Australia"
			image="https://flyspot.com.au/wp-content/uploads/2016/09/FlySpot-Icon.svg"
		/>
		<LinkPanel
			href="https://udisc.com"
			title="UDisc"
			description="Disc golf courses around the world!"
			image="https://d1q6yb84lp43gi.cloudfront.net/logos2021/short/OB_U+Icon.svg"
		/>
	</Grid>

</Layout>
